:root{
            --grad0:0deg,#00a08066,#00a080aa,#00a08066;
        }
        body{
            background-color: #2266dd44;
        }
        header{
            background-image: linear-gradient(var(--grad0));
            background-image: -webkit-linear-gradient(var(--grad0));
            padding: 4vh 4vw;
            margin-bottom: 2vw;
        }
        header>h1{
            text-align: center;
            font: 600 26pt Arial;
            color: #2266bb;
            text-shadow: 1px 1px 5px #f2f2f2;
        }
        ul#container-lista{
            list-style: none;
            padding-inline-start: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        ul#container-lista>li{
            padding: 4vh 2vw;
            margin-bottom: 2vh;
            width: 50vw;
            text-align: center;
            background-image: linear-gradient(var(--grad0));
            text-transform: capitalize;
            font-family: 'Arial';
            font-weight: 600;
            border: 2px solid#00a08000;
        }
        ul#container-lista>li:hover{
            border: 2px solid #00a080;
        }
        a{
            color: #2244aa;
        }